doctype html
html
    head
        title Weather Widgets!
        meta(name="viewport",
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="description" content="Cool weather widgets for your website")
        meta(property="og:description"  content="Cool weather widgets for your website")
        meta(property="og:title" content="Weather Widgets")
        meta(property="og:url" content="weather.orels1.tips")
        meta(property="og:image" content="https://weather.orels1.tips/static/img/share.jpg")
        meta(property="og:type" content="article")
        meta(property="twitter:domain" content="orels1.tips")
        meta(property="twiiter:image" content=sharing)
        meta(property="twitter:site" content="@orels1tips")
        meta(property="twitter:card" content="summary_large_image")
        meta(property="twitter:description" content="Cool weather widgets for your website")
        link(rel="shortcut icon" href="/static/img/icon.png" type="image/x-icon")
        link(rel="icon" href="/static/img/icon.png" type="image/x-icon")
        link(rel="canonical" href=canonical)
        link(rel="stylesheet" href="/static/styles.css")
    body
        #app.w-100
        script(src="https://use.fontawesome.com/f548972c09.js")
        script(src="/static/bundle.js")
