doctype html
html
    head
        title Weather Widgets!
        link(rel="stylesheet" href="/static/styles.css")
    body
        #app.w-100
        script(src="https://use.fontawesome.com/f548972c09.js")
        script(src="/static/bundle.js")
